@charset "UTF-8";

:root {
    --light-Base: #FFFFFF;
    --light-50  : #FAFAFA;
    --light-100 : #F5F5F5;
    --light-200 : #E5E5E5;
    --light-300 : #D4D4D4;
    --light-400 : #A3A3A3;
    --light-500 : #737373;
    --light-600 : #525252;
    --light-700 : #404040;
    --light-800 : #262626;
    --light-900 : #171717;
    --light-950 : #0A0A0A;
    --light-Base-rgb : 255, 255, 255;
    --light-50-rgb   : 250, 250, 250;
    --light-100-rgb  : 245, 245, 245;
    --light-200-rgb  : 229, 229, 229;
    --light-300-rgb  : 212, 212, 212;
    --light-400-rgb  : 163, 163, 163;
    --light-500-rgb  : 115, 115, 115;
    --light-600-rgb  :  82,  82,  82;
    --light-700-rgb  :  64,  64,  64;
    --light-800-rgb  :  38,  38,  38;
    --light-900-rgb  :  23,  23,  23;
    --light-950-rgb  :  10,  10,  10;



    --dark-Base: #000000;
    --dark-50  : #0A0A0A;
    --dark-100 : #171717;
    --dark-200 : #262626;
    --dark-300 : #373737;
    --dark-400 : #525252;
    --dark-500 : #8A8A8A;
    --dark-600 : #A3A3A3;
    --dark-700 : #D4D4D4;
    --dark-800 : #E5E5E5;
    --dark-900 : #F5F5F5;
    --dark-950 : #FAFAFA;
    --dark-Base-rgb :   0,   0,   0;
    --dark-50-rgb   :    10,  10,  10;
    --dark-100-rgb  :   23,  23,  23;
    --dark-200-rgb  :   38,  38,  38;
    --dark-300-rgb  :   55,  55,  55;
    --dark-400-rgb  :   82,  82,  82;
    --dark-500-rgb  :  138, 138, 138;
    --dark-600-rgb  :  163, 163, 163;
    --dark-700-rgb  :  212, 212, 212;
    --dark-800-rgb  :  229, 229, 229;
    --dark-900-rgb  :  245, 245, 245;
    --dark-950-rgb  :  250, 250, 250;



    --primary-100: #eaf4ff;
    --primary-200: #1a68ff;
    --primary-300: #ffc700;
    --primary-400: #63de77;
    --accent-blue: #2388ff;
    
    --primary-100-rgb: 234, 244, 255;
    --primary-200-rgb: 26, 104, 255;
    --primary-300-rgb: 255, 199, 0;
    --primary-400-rgb: 99, 222, 119;
    --accent-blue-rgb: 35, 136, 255;
    --accent-red-rgb: 255, 45, 70;

    --secondary-100: #050811;
    --secondary-200: #eaf4ff;
    --secondary-300: #de1f35;
    --secondary-400: #ffe8ea;
    --secondary-500: #e79800;
    --secondary-600: #fff9e5;
    --secondary-800: #e5f8e8;

    --blue-100: #e3efff;
    --blue-200: #c3ddff;
    --blue-300: #8dc1ff;
    --blue-400: #64a7ff;
    --blue-500: #1967ff;
    --blue-100-rgb: 227, 239, 255;
    --blue-200-rgb: 195, 221, 255;
    --blue-300-rgb: 141, 193, 255;
    --blue-400-rgb: 100, 167, 255;
    --blue-500-rgb:  25, 103, 255;


    --green-100: #eef9f5;
    --green-200: #e2fbea;
    --green-300: #adecbb;
    --green-400: #74d184;
    --green-500: #37c972;
    --green-100-rgb: 238, 249, 245;
    --green-200-rgb: 226, 251, 234;
    --green-300-rgb: 173, 236, 187;
    --green-400-rgb: 116, 209, 132;
    --green-500-rgb:  55, 201, 114;

    --red-100: #fff5f6;
    --red-200: #fac6d0;
    --red-300: #fb93a3;
    --red-400: #fe566b;
    --red-500: #ff2d46;
    --red-100-rgb: 255, 245, 246;
    --red-200-rgb: 250, 198, 208;
    --red-300-rgb: 251, 147, 163;
    --red-400-rgb: 254,  86, 107;
    --red-500-rgb: 255,  45,  70;

    --yellow-100: #fffae9;
    --yellow-200: #faedbf;
    --yellow-300: #fbe080;
    --yellow-400: #efc42c;
    --yellow-500: #ffc700;
    --yellow-100-rgb: 255, 250, 233;
    --yellow-200-rgb: 250, 237, 191;
    --yellow-300-rgb: 251, 224, 128;
    --yellow-400-rgb: 239, 196,  44;
    --yellow-500-rgb: 255, 199,   0;



    --main-bg: var(--light-200);

    /* icon */
    --arrow-type1:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --%3E%3Cpath fill='currentColor' d='M9.29 15.88L13.17 12L9.29 8.12a.996.996 0 1 1 1.41-1.41l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3a.996.996 0 0 1-1.41 0c-.38-.39-.39-1.03 0-1.42'/%3E%3C/svg%3E");
    --rocket-outline:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --%3E%3Cpath fill='currentColor' fill-rule='evenodd' d='M17.406 1.25h.761c.872 0 1.6 0 2.18.078c.61.082 1.166.262 1.613.708s.63 1.001.712 1.612c.078.578.078 1.304.078 2.173v.76c0 1.05 0 1.787-.28 2.461s-.802 1.195-1.547 1.937l-.1.1l-2.67 2.662l.093.143c.394.608.713 1.1.943 1.525c.238.44.408.853.476 1.31a4.1 4.1 0 0 1-.28 2.18c-.107.258-.292.527-.482.772c-.2.258-.444.538-.706.823a58 58 0 0 1-1.702 1.746l-.091.09c-.72.718-1.968.486-2.352-.477c-.227-.572-.32-.8-.435-1.01a4 4 0 0 0-.367-.555c-.146-.187-.316-.36-.74-.781l-.505-.443l-.02-.019a2 2 0 0 1-.285.018c-.632 0-1.153-.263-1.644-.637c-.464-.353-.98-.867-1.596-1.481l-1.447-1.443c-.616-.614-1.131-1.128-1.486-1.591c-.374-.49-.64-1.01-.64-1.642q.001-.17.026-.337l-.83-.827l-.087-.087a4.1 4.1 0 0 0-1.41-.895l-.378-.15a1.514 1.514 0 0 1-.513-2.48l.007-.008a59 59 0 0 1 1.751-1.697c.287-.261.568-.504.825-.703c.247-.19.517-.375.774-.481a4.13 4.13 0 0 1 2.184-.278c.457.067.87.236 1.311.474c.426.23.92.547 1.53.94l.148.095l2.672-2.665l.1-.099c.744-.743 1.266-1.264 1.942-1.543s1.413-.278 2.467-.278M9.137 6.919c-.56-.36-.963-.616-1.301-.799c-.36-.193-.6-.278-.82-.31a2.63 2.63 0 0 0-1.39.179a2.4 2.4 0 0 0-.432.284c-.212.163-.459.376-.73.623a57 57 0 0 0-1.71 1.658l-.004.006v.007l.003.008l.008.004l.383.152l.128.051a5.6 5.6 0 0 1 1.768 1.16c.028.026.055.053.098.097l.478.476q.098-.122.204-.242c.322-.368.735-.78 1.214-1.257zm4.317 11.42l.081.071l.052.052c.39.39.633.63.844.9q.281.36.501.76c.16.291.284.598.477 1.083l.02-.02a57 57 0 0 0 1.663-1.705c.248-.27.462-.517.625-.728a2.3 2.3 0 0 0 .285-.43a2.6 2.6 0 0 0 .179-1.383c-.032-.218-.117-.457-.31-.815c-.184-.338-.441-.74-.804-1.3l-2.109 2.102c-.49.488-.912.909-1.287 1.233a8 8 0 0 1-.217.18M17.547 2.75c-1.252 0-1.67.013-2.036.164c-.365.151-.67.436-1.555 1.319l-5.847 5.829c-.498.497-.876.874-1.16 1.2c-.287.325-.433.549-.504.725a.7.7 0 0 0-.058.282c0 .17.059.374.332.73c.285.374.728.817 1.39 1.478l.157.156l1.53-1.526a.75.75 0 0 1 1.06 1.063l-1.527 1.522l.153.154c.663.66 1.107 1.101 1.482 1.386c.358.272.563.331.736.331a.7.7 0 0 0 .26-.048c.175-.064.398-.204.73-.49c.33-.286.716-.67 1.227-1.18l5.847-5.828c.885-.883 1.17-1.186 1.321-1.55s.165-.778.165-2.027v-.567c0-.934-.002-1.56-.065-2.025c-.06-.443-.162-.629-.284-.75s-.308-.224-.754-.284c-.468-.062-1.095-.064-2.032-.064zm-.884 4.574a1.196 1.196 0 0 0-1.687 0a1.18 1.18 0 0 0 0 1.676a1.196 1.196 0 0 0 1.687 0a1.18 1.18 0 0 0 0-1.676M13.917 6.26a2.696 2.696 0 0 1 3.806 0a2.68 2.68 0 0 1 0 3.801a2.696 2.696 0 0 1-3.806 0a2.68 2.68 0 0 1 0-3.8' clip-rule='evenodd'/%3E%3C/svg%3E")
}

.fx{display: flex;}



/* icon */
.icon{display: inline-flex; width: 1em; height: 1em; vertical-align: -0.125em; background-color: currentColor; mask-repeat: no-repeat; mask-position: center; mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: contain;}
.arrow-type1{mask-image: var(--arrow-type1);}
.rocket-outline{mask-image: var(--rocket-outline);}


.main-wrap {display: flex; gap:18px; width:100%; height:100vh; padding:36px; overflow: hidden;  background: var(--main-bg) radial-gradient(rgba(var(--light-700-rgb), .15) 1.5px, transparent 0) 0 0 / 40px 40px;}
.snb{display: flex; flex-direction: column; gap:16px; width:300px; height:100%; padding:32px; border:1px solid var(--light-300); border-radius: 36px; backdrop-filter: blur(10px);}
.snb .nav{display: flex; font-size:14px; flex:1 1 0; min-height: 0;}
.snb .nav > ul{ flex:1 1 0; min-height: 0; overflow-y: auto;}
.snb .nav > ul::-webkit-scrollbar{width:0;}
.snb .nav > ul > li{display: flex; flex-direction: column; gap:10px; padding:16px; border-radius: 16px;}
.snb .nav > ul > li.on{background: var(--light-950);}
.snb .nav > ul > li a{position: relative; display: flex; align-items: center; gap:8px; color:var(--light-500); transition: all .3s ease;}
.snb .nav > ul > li i{font-size:18px;}
.snb .nav > ul > li.on a{color:var(--light-100);}
.snb .nav > ul > li > a::after{position: absolute; content:''; right:0; top:50%; transform: translateY(-50%) rotate(90deg); width: 1em; height: 1em; font-size:18px; vertical-align: -0.125em; background-color: currentColor; mask-repeat: no-repeat; mask-position: center; mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: contain; mask-image: var(--arrow-type1); transition: all .3s ease;}
.snb .nav > ul > li.no-sub > a::after{display: none;}
.snb .nav > ul > li.on > a::after{transform: translateY(-50%) rotate(-90deg);}
.snb .nav > ul li:hover > a{transform: translateX(5px);}
.snb .nav > ul li.on:hover > a{transform: translateX(0);}
.snb .nav > ul > li > ul li{padding:10px 10px 10px 20px; border-radius: 8px;}
.snb .nav > ul > li > ul li.on{background: var(--neutral-800);}
.snb .nav > ul > li > ul li:hover{background: rgba(var(--neutral-800-rgb),.65);}
.snb .nav > ul > li > ul li a{display: flex; align-items: center;}
.snb .nav > ul > li:hover > ul li a{transform: translateX(0);}
.snb .nav > ul > li.on > ul li a{color:var(--light-400)}
.snb .nav > ul > li.on > ul li:hover a{color: var(--light-300);}
.snb .nav > ul > li.on > ul li.on a{color:var(--light-100);}
.snb .nav > ul > li.on > ul li.on a::before{position: absolute; content:''; left:-15px; top:50%; transform: translateY(-50%); width:6px; height:6px; border-radius: 50%; background: var(--blue-500);}

header{display: flex; flex-direction: column; align-items: center; justify-content: space-between; width:80px; height:100%; padding:15px 15px 24px; border-radius: 100px; background: var(--light-100); box-shadow: 0 16px 32px rgba(var(--light-900-rgb), .1);}
header .group1{display: flex; flex-direction: column; gap:10px}
header h2{display: flex; flex-direction: column; gap:3px; writing-mode: vertical-rl;}
header h2 span{line-height: 1;}
header h2 .desc1{font-size:24px; font-weight: 700;}
header h2 .desc2{font-size:14px; color:var(--light-400)}
header .site-map-btn{display: flex; flex-direction: column; justify-content: center; align-items: center; gap:6px; width:50px; height:50px; border:2px solid var(--light-900); border-radius: 50%; cursor: pointer;}
header .site-map-btn span{width:50%; height:2px; background: var(--light-900);}
header .site-info{color:var(--light-400); writing-mode: vertical-rl; line-height: 1; letter-spacing: 2px;}
.content-area{position: relative; display: flex; flex-direction: column; flex:1 1 0; min-height:0; padding:36px; border-radius: 36px; background: var(--light-100); overflow: hidden; box-shadow: 0 16px 32px rgba(var(--light-900-rgb), .1);}
.area-inner{display: flex; flex-direction: column; gap:25px; flex:1 1 0; min-height:0;}


.page-head{display: flex; align-items: flex-end; gap:16px;}
.page-head h2{font-size:36px; font-weight: 700; line-height: 1;}
.page-head .breadcrumb{display: flex; align-items: flex-start; gap:5px; font-weight: 500;}
.page-head .breadcrumb li:first-child{display: none;}
.page-head .breadcrumb li{display: flex; align-items: center; gap:5px; font-size:18px; color:var(--light-400); line-height: 1;}
.page-head .breadcrumb li::after{display: block; content:''; width:18px; height:18px; background: var(--arrow-type1) no-repeat center / 100%;}
.page-head .breadcrumb li:last-child::after{display: none;}

.page-body{position: relative; display: flex; align-items: flex-start; gap:36px; flex:1 1 0; min-height:0;}
.page-body .container{display: block; width:100%; height:100%; overflow: hidden; overflow-y: auto;}
.page-body .container::-webkit-scrollbar{background: #fff; width:10px; border-radius: 999px;}
.page-body .container::-webkit-scrollbar-thumb{background: var(--light-600); border-radius: 999px;}
/* .scroll-bar{position: absolute; right:0; top:0; background: var(--light-200); width:6px; height:100%; border-radius: 100px;}
.scroll-bar span{position: absolute; left:0; top:0; width:100%; height:200px; background: var(--blue-500); border-radius: 100px;}
.scroll-bar span:hover{cursor: pointer;} */


.page-nav{display: flex; flex-direction: column; gap:16px; min-width:240px; padding:32px; border:1px solid var(--light-300); border-radius: 18px;}
.page-nav h3{display: flex; flex-direction: column;}
.page-nav h3 .desc1{font-size: 14px; color:var(--light-500)}
.page-nav h3 .desc2{font-size:21px; font-weight: 700;}
.page-nav ul{display: flex; flex-direction: column; gap:4px;}
.page-nav ul li a{position: relative; display: flex; padding:6px 10px; border-radius: 100px; font-size:15px; line-height: 1; white-space: nowrap; color:var(--light-900);}
.page-nav ul li a::after{position: absolute; content:''; right:0; top:50%; transform: translateY(-50%);}
.page-nav ul li.on a{ background: var(--light-200);}