@charset "UTF-8";
.main-wrap {display: flex; gap:18px; width:100%; height:100vh; padding:36px; overflow: hidden;  background: var(--main-bg) radial-gradient(rgba(var(--light-700-rgb), .15) 1.5px, transparent 0) 0 0 / 40px 40px;}
.snb{display: flex; flex-direction: column; gap:16px; width:300px; height:100%; padding:32px; border:1px solid var(--light-300); border-radius: 36px; backdrop-filter: blur(10px);}
.snb h3{font-size:16px; font-weight: 600; color:var(--light-500)}
.snb .nav{display: flex; font-size:14px; flex:1 1 0; min-height: 0;}
.snb .nav > ul{ flex:1 1 0; min-height: 0; overflow-y: auto;}
.snb .nav > ul::-webkit-scrollbar{width:0;}
.snb .nav > ul > li{display: flex; flex-direction: column; gap:10px; padding:16px; border-radius: 16px;}
.snb .nav > ul > li.on{background: var(--light-950);}
.snb .nav > ul > li a{position: relative; display: flex; align-items: center; gap:8px; color:var(--light-500); transition: all .3s ease;}
.snb .nav > ul > li i{font-size:18px;}
.snb .nav > ul > li.on a{color:var(--light-100);}
.snb .nav > ul > li > a::after{position: absolute; content:''; right:0; top:50%; transform: translateY(-50%) rotate(90deg); width: 1em; height: 1em; font-size:18px; vertical-align: -0.125em; background-color: currentColor; mask-repeat: no-repeat; mask-position: center; mask-size: contain; -webkit-mask-repeat: no-repeat; -webkit-mask-position: center; -webkit-mask-size: contain; mask-image: var(--arrow-type1); transition: all .3s ease;}
.snb .nav > ul > li.no-sub > a::after{display: none;}
.snb .nav > ul > li.on > a::after{transform: translateY(-50%) rotate(-90deg);}
.snb .nav > ul li:hover > a{transform: translateX(5px);}
.snb .nav > ul li.on:hover > a{transform: translateX(0);}
.snb .nav > ul > li > ul li{padding:10px 10px 10px 20px; border-radius: 8px;}
.snb .nav > ul > li > ul li.on{background: var(--neutral-800);}
.snb .nav > ul > li > ul li:hover{background: rgba(var(--neutral-800-rgb),.65);}
.snb .nav > ul > li > ul li a{display: flex; align-items: center;}
.snb .nav > ul > li:hover > ul li a{transform: translateX(0);}
.snb .nav > ul > li.on > ul li a{color:var(--light-400)}
.snb .nav > ul > li.on > ul li:hover a{color: var(--light-300);}
.snb .nav > ul > li.on > ul li.on a{color:var(--light-100);}
.snb .nav > ul > li.on > ul li.on a::before{position: absolute; content:''; left:-15px; top:50%; transform: translateY(-50%); width:6px; height:6px; border-radius: 50%; background: var(--blue-500);}


header{display: flex; flex-direction: column; align-items: center; justify-content: space-between; width:80px; height:100%; padding:15px 15px 24px; border-radius: 100px; background: var(--light-100); box-shadow: 0 16px 32px rgba(var(--light-900-rgb), .1);}
header .group1{display: flex; flex-direction: column; gap:10px}
header h2{display: flex; flex-direction: column; justify-content: center; gap:3px; writing-mode: vertical-rl;}
header h2 span{line-height: 1;}
header h2 .desc1{font-size:24px; font-weight: 700;}
header h2 .desc2{font-size:14px; color:var(--light-400)}
header .site-map-btn{display: flex; flex-direction: column; justify-content: center; align-items: center; gap:6px; width:50px; height:50px; border:2px solid var(--light-900); border-radius: 50%; cursor: pointer;}
header .site-map-btn span{width:50%; height:2px; background: var(--light-900);}
header .site-info{padding:11px 8px; border-radius: 100px; font-size:13px; color:var(--light-500); writing-mode: vertical-rl; line-height: 1; letter-spacing: 2px; background: var(--light-200);}

.content-area{position: relative; display: flex; flex-direction: column; flex:1 1 0; min-height:0; padding:36px; border-radius: 36px; background: var(--light-100); overflow: hidden; box-shadow: 0 16px 32px rgba(var(--light-900-rgb), .1);}
.area-inner{display: flex; flex-direction: column; gap:25px; flex:1 1 0; min-height:0;}


.page-head{display: flex; align-items: flex-end; gap:16px; position: relative;}
.page-head h2{font-size:32px; font-weight: 700; line-height: 1;}
.page-head .breadcrumb{display: flex; align-items: flex-start; gap:5px; font-weight: 500;}
.page-head .breadcrumb li:first-child{display: none;}
.page-head .breadcrumb li{display: flex; align-items: center; gap:5px; font-size:18px; color:var(--light-400); line-height: 1;}
.page-head .breadcrumb li::after{display: block; content:''; width:18px; height:18px; background: var(--arrow-type1) no-repeat center / 100%;}
.page-head .breadcrumb li:last-child::after{display: none;}

.page-body{position: relative; display: flex; align-items: flex-start; gap:20px; flex:1 1 0; min-height:0;}
.page-body .container{display: block; width:100%; height:100%; overflow: hidden; overflow-y: auto; scroll-behavior: smooth;}
.page-body .container-inner{padding-right:16px; padding-bottom:36px;}
.page-body .container::-webkit-scrollbar{background: #fff; width:8px; border-radius: 999px;}
.page-body .container::-webkit-scrollbar-thumb{background: var(--light-600); border-radius: 999px;}

/* 커스텀 스크롤 */
/* .scroll-bar{position: absolute; right:0; top:0; background: var(--light-200); width:6px; height:100%; border-radius: 100px;}
.scroll-bar span{position: absolute; left:0; top:0; width:100%; height:200px; background: var(--blue-500); border-radius: 100px;}
.scroll-bar span:hover{cursor: pointer;} */


.page-nav{display: flex; flex-direction: column; gap:16px; min-width:240px; padding:32px; border:1px solid var(--light-300); border-radius: 18px;}
.page-nav h3{display: flex; flex-direction: column;}
.page-nav h3 .desc1{font-size: 14px; color:var(--light-500)}
.page-nav h3 .desc2{font-size:21px; font-weight: 700;}
.page-nav ul{display: flex; flex-direction: column; gap:4px;}
.page-nav ul li{display: flex;}
.page-nav ul li a{position: relative; display: flex; padding:6px 12px; border:1px solid transparent; border-radius: 100px; font-size:14px; line-height: 1; white-space: nowrap; color:var(--light-900); transition: all .3s ease;}
.page-nav ul li a:hover{border:1px solid var(--light-300)}
.page-nav ul li.on a{ background: var(--light-200);}
.page-nav ul li.on a:hover{border-color:transparent;}

.copy{cursor: pointer; transition: all .3s ease;}
.copy:hover{transform: scale(.94);}
.copy-tooltip { position: fixed; pointer-events: none; padding: 7px 10px; background: var(--light-900); color: var(--light-100); font-size: 12px; line-height: 1; border-radius: 6px; opacity: 0; transform: translate(-50%, -50%); transition: opacity 0.1s ease-out; z-index: 9999; }
.copy-tooltip.success { background: var(--blue-500) !important; }
.copy-tooltip.error { background: var(--red-500) !important; }


#toast-container { position: fixed; bottom:20px; left:50%; transform: translateX(-50%); z-index: 9999; display: flex; flex-direction: column; gap: 10px; }
.toast {display: flex; justify-content: center; align-items: center;  min-width: 200px; padding: 12px 18px; border-radius: 10px; color: #fff; font-size: 14px; font-weight: 500; box-shadow: 0 6px 16px rgba(0,0,0,0.15); opacity: 0; transform: translateY(-10px); animation: toast-in 0.25s forwards, toast-out 0.4s forwards 2.2s; backdrop-filter: blur(10px);}
.toast.success { background: rgba(var(--light-900-rgb), .9);}
.toast.error { background: #e15759; }

@keyframes toast-in {
    from { opacity: 0; transform: translateY(100%); }
    to   { opacity: 1; transform: translateY(0); }
}

@keyframes toast-out {
    from { opacity: 1; transform: translateY(0); }
    to   { opacity: 0; transform: translateY(100%); }
}




.code-box {position: relative; background:#1e1e1e; padding:32px; border-radius:12px; overflow:auto; position:relative; }
.code-box code { color:#d4d4d4; font-family:'Fira Code', Consolas, monospace; font-size:14px; line-height:1.6; }
:not(pre) > code[class*="language-"], pre[class*="language-"]{background: transparent;}
code[class*="language-"], pre[class*="language-"]{text-shadow: none;}
pre[class*="language-"]{padding:0; margin:0;}

.code-copy-btn {position: absolute; right:20px; top:20px; color:var(--light-300); font-size:13px; font-weight: 400; line-height: 1;}
.code-copy-btn:hover {color:var(--light-100);}
.code-copy-btn.success {color:var(--light-Base)}
.code-copy-btn.error { color:var(--red-400);}




code[class*="language-"], pre[class*="language-"]{color:#d4d4d4;font-family:'Fira Code',Consolas,monospace;text-shadow:none !important;}
.token.string,.token.char,.token.attr-value{color:#CE9178;}
.token.number,.token.symbol{color:#B5CEA8;}
.token.operator{color:#D4D4D4;}
.token.punctuation{color:#8f8f8f;}
.token.comment{color:#6A9955;}
.token.keyword{color:#C586C0;}
.token.boolean,.token.constant{color:#569CD6;}
.token.function{color:#DCDCAA;}
.token.deleted{color:#F44747;}
.token.inserted{color:#73C991;}
.token.tag{color:#569CD6;}
.token.attr-name{color:#9CDCFE;}
.token.attr-value{color:#CE9178;}
.token.doctype,.token.entity{color:#569CD6;}
.token.selector,.token.class-name,.token.id,.token.pseudo-element,.token.pseudo-class,.token.combinator{color:#D7BA7D;}
.token.property{color:#9CDCFE;}
.token.color,.token.unit{color:#B5CEA8;}
.token.important{color:#C586C0;}
.token.regex{color:#D16969;}
.token.template-string .token.interpolation{color:#9CDCFE;}
.token.this{color:#569CD6;}
.token.variable{color:#9CDCFE;}
.token.keyword.php{color:#C586C0;}
.token.function.php{color:#DCDCAA;}
.token.operator.php{color:#D4D4D4;}
.token.keyword.java{color:#C586C0;}
.token.class-name.java{color:#D7BA7D;}
.token.annotation{color:#569CD6;}




.code-box::-webkit-scrollbar { height:8px; }
.code-box::-webkit-scrollbar-thumb { background:#3a3a3a; border-radius:8px; }
.code-box::-webkit-scrollbar-thumb:hover { background:#555; }
.code-box::-webkit-scrollbar-track { background:#1c1c1c; }

