@charset "UTF-8";
/* 색상 */
#page-color .content-group{display: flex; flex-direction: column; width:100%;}
#page-color .content-group ul{display: flex; flex-wrap: wrap;}
#page-color .content-group ul li{position: relative; display: flex; flex-direction: column; justify-content: flex-end; gap:5px; width:calc(100% / 6); padding:15px; aspect-ratio: 1; font-size:16px; line-height: 1;}
#page-color .content-group ul li::before{content:attr(label); font-size:13px; opacity: .5;}
#page-color .group1 ul li:nth-child(1){background: var(--light-Base);}
#page-color .group1 ul li:nth-child(2){background: var(--light-50);}
#page-color .group1 ul li:nth-child(3){background: var(--light-100);}
#page-color .group1 ul li:nth-child(4){background: var(--light-200);}
#page-color .group1 ul li:nth-child(5){background: var(--light-300);}
#page-color .group1 ul li:nth-child(6){background: var(--light-400);}
#page-color .group1 ul li:nth-child(7){background: var(--light-500); color:var(--light-100);}
#page-color .group1 ul li:nth-child(8){background: var(--light-600); color:var(--light-100);}
#page-color .group1 ul li:nth-child(9){background: var(--light-700); color:var(--light-100);}
#page-color .group1 ul li:nth-child(10){background: var(--light-800); color:var(--light-100);}
#page-color .group1 ul li:nth-child(11){background: var(--light-900); color:var(--light-100);}
#page-color .group1 ul li:nth-child(12){background: var(--light-950); color:var(--light-100);}
#page-color .group2 ul li:nth-child(1){background: var(--dark-Base); color:var(--light-100);}
#page-color .group2 ul li:nth-child(2){background: var(--dark-50); color:var(--light-100);}
#page-color .group2 ul li:nth-child(3){background: var(--dark-100); color:var(--light-100);}
#page-color .group2 ul li:nth-child(4){background: var(--dark-200); color:var(--light-100);}
#page-color .group2 ul li:nth-child(5){background: var(--dark-300); color:var(--light-100);}
#page-color .group2 ul li:nth-child(6){background: var(--dark-400); color:var(--light-100);}
#page-color .group2 ul li:nth-child(7){background: var(--dark-500);}
#page-color .group2 ul li:nth-child(8){background: var(--dark-600);}
#page-color .group2 ul li:nth-child(9){background: var(--dark-700);}
#page-color .group2 ul li:nth-child(10){background: var(--dark-800);}
#page-color .group2 ul li:nth-child(11){background: var(--dark-900);}
#page-color .group2 ul li:nth-child(12){background: var(--dark-950);}
#page-color .group3 ul li{width:calc(100% / 5);}
#page-color .group3 .ul1 li:nth-child(1){ background: var(--blue-100);}
#page-color .group3 .ul1 li:nth-child(2){ background: var(--blue-200);}
#page-color .group3 .ul1 li:nth-child(3){ background: var(--blue-300);}
#page-color .group3 .ul1 li:nth-child(4){ background: var(--blue-400);}
#page-color .group3 .ul1 li:nth-child(5){ background: var(--blue-500); color:var(--light-100);}
#page-color .group3 .ul2 li:nth-child(1){background: var(--green-100);}
#page-color .group3 .ul2 li:nth-child(2){background: var(--green-200);}
#page-color .group3 .ul2 li:nth-child(3){background: var(--green-300);}
#page-color .group3 .ul2 li:nth-child(4){background: var(--green-400);}
#page-color .group3 .ul2 li:nth-child(5){background: var(--green-500); color:var(--light-100);}
#page-color .group3 .ul3 li:nth-child(1){background: var(--red-100);}
#page-color .group3 .ul3 li:nth-child(2){background: var(--red-200);}
#page-color .group3 .ul3 li:nth-child(3){background: var(--red-300);}
#page-color .group3 .ul3 li:nth-child(4){background: var(--red-400);}
#page-color .group3 .ul3 li:nth-child(5){background: var(--red-500); color:var(--light-100);}
#page-color .group3 .ul4 li:nth-child(1){background: var(--yellow-100);}
#page-color .group3 .ul4 li:nth-child(2){background: var(--yellow-200);}
#page-color .group3 .ul4 li:nth-child(3){background: var(--yellow-300);}
#page-color .group3 .ul4 li:nth-child(4){background: var(--yellow-400);}
#page-color .group3 .ul4 li:nth-child(5){background: var(--yellow-500); }

/* 타이포그래피 */
#page-font .group2 .code {font-size:0;}
#page-font .group2 .code::before{content:attr(txt); font-size:16px;}

/* 아이콘 */
#page-icon .group1 .content{display: flex; flex-wrap: wrap; --page-icon-group1-gap:15px; gap:var(--page-icon-group1-gap); width:100%;}
#page-icon .group1 .item{display: flex; flex-direction: column; align-items: center; justify-content: center; width:calc((100% - var(--page-icon-group1-gap) * 14) / 15);}
#page-icon .group1 .item span{display: flex; align-items: center; justify-content: center; width:100%; border:1px solid var(--light-300); border-radius: 10px; aspect-ratio: 1; background: var(--light-100);}
#page-icon .group1 .item i{font-size:32px;}
#page-icon .group1 .item p{font-size:12px;}








